/*Media Type Opened*/
@media(max-width:1366px){
	.search input[type="text"] {
		width: 110px;
	}
	
	.search input[type="text"]:focus {
		width: 132px;
	}
		.btncheck{
		margin-right:22%;
	}
	.form2{
		display: none;
	}
}

@media(max-width:1280px){
	.search input[type="text"]{
		width: 110px;
	}
	.search input[type="text"]:focus {
		width: 110px;
	}
	.btncheck{
	margin-right:10%;
	}
	.navbar-brand img{
	margin-right: 20px;}
	.galleryslide{
	padding:0 30px 0 30px;
	margin:20px 0 0 0;
	}
	.checkintab{
	padding-left:;	
	}
	.alltab{
	width:120px;
	position: relative;
	float:left;
	margin:0 15px 0 0;}

}

@media(max-width: 1024px){
	.search {
	}
	.nbs-flexisel-item >a img {
	/*--width:60%;--*/
	cursor: pointer;
	position: relative;
	margin-top:5px;
	margin-bottom: 10px;
	max-width:250px;
	min-height:200px;
	}
		.checkintab{
	padding-left:6%;	
	}
	.sekilas{
	padding:20px 20px 20px 40px;
	}
	.alltab{
	width:100px;
	margin:0px 10px 0px 0px;
	}
	.titletabtgl{
	font-size:14px ;
	}

	.month{
	padding:2px 0 2px 0px;
	font-size: 18px;
	border-bottom:1px solid rgba(39, 40, 34,.2);

}
	.angka{
		font-size: 30px;
		padding:10px 0 10px 0;
	}
	.angkaguest{
		font-size: 30px;
		padding:14px 0 14px 0;
	}
	
	.addreslist{
		display:;
		clear:both;
		font-size:12px;
	}
	.btncheck{
		float:left;
		margin:20px 0 0 0;
		padding:8px;
	}
	.explore{
	padding:20px 20px 20px 80px;
	}	
	.footoverride{
	top:-50px;
	padding:10px 0 0 0;
}
.footertext h3{
		padding:0 0 0 10px;
		font-size:20px ;
}
.footertext ul{
	padding:0 0 0 10px;

}
.footertext ul li{
	font-size: 16px;
}
.newsletter{
	font-size: 16px;
}
	.form-control{
	width:70%;


}

}
@media(max-width: 800px){
	.search {
		margin-top:30px;
	}
	.checkintab{
	padding-left:5%;	
	}

}




@media(max-width: 768px){
	.search {
	margin: 30px 10px 0 0;
	}
	.search input[type="text"]:focus {
		width: 120px;
	}
		.checkintab{
	padding-left:20%;	
	padding-right:20%;	
	}
	.checkintab{
		display:none;
	}
	.form2{
		background-color:rgba(242, 242, 242,.5);
		position: relative;
		display:inline-block;
		padding-left:35%;
		padding-right: ;
		padding-top:5px;
		width:100%;

	}.form-group{
		margin-top:0px;
	}
	.book2{
		border-radius: 0px;
		background: transparent;
		border: 2px solid rgba(0,0,0,.3);
		padding: 10px 15px 10px 15px;
	}
	.labeltgl{
		float:left;
		clear: both;
		font-size: 15px;
		margin:0px 10px 0 0;
		padding:0;
	}
	.selection{
		float: left;
		clear:both ;
		width:60%;
	}

		.explore{
	padding:20px 20px 20px 80px;
	}	

/*	footer style*/
	.footeroverride{
		float:left;
	}
	.footertext{
		float: left;
	}
	.newslett{
		float:left;
		width:40%;
	}
	.newsletter{
		float: left;
		display:;
	}

	.form-groupfoot{
		display: none;
	}
	.footertext h3{
		padding:0 0 0 0px;
}


}
@media(max-width: 640px){
	.search {
		margin: 5px 10px 0 0;
	}
	.galleryslide{
	padding:0 10px 0 10px;
	margin:20px 0 0 0;
	}

}
@media(max-width: 480px){
	.search {
		margin: 5px 10px 0 0;
	}
	.search input[type="text"] {
		width: 110px;
	}
	.logokiri {
		padding-left:5px;
		font-size: 20px;
	}
	.glyphicon-camera{
		font-size: 20px;
		padding:0px 0 0 0;
	}
	.hashtag{
		font-size: 17px;
	}
	.socmed{
		font-size: 10px;
	}


}

@media(max-width:320px ){
		.search {
		margin: 5px 10px 0 0;
	}
	
}
/*Media Type Closed*/